
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body, html {
    height: 100%;
    /* Mantém a altura total */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Inicia o conteúdo no topo */
    align-items: center;
    /* Centraliza horizontalmente */
    background-color: #201b2c;
        /* Definindo uma cor de fundo global para a página */
        padding-bottom: 60px; /* Ajuste conforme a altura do seu rodapé */
    }


.main-form {
    width: 100vw;
    flex-grow: 1;
    /* Permite que cresça para ocupar espaço disponível, mas não todo */
    display: flex;
    justify-content: center;
    align-items: center;
    }


.center > h5 {
    color: #77ffc0;
    text-align: center; /* Certifique-se de que o título está centralizado */
    font-size: 20pt;
    display: block;
}

.card-login {
    width: 40%;
    min-height: 100vh;  /* Altura mínima com flexibilidade para expandir */
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    margin: 20px;
    box-sizing: border-box;
}

.textfield {
    width: 100%;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    gap: 10px;
        /* Espaçamento entre cada item dentro do textfield */
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 13px; /* Espaçamento menor entre o label e o input/select */

}

.textfield > input, .textfield > select, .textfield > textarea{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt; /* Tamanho da fonte uniforme para melhor leitura */
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > input::placeholder, .textfield > select::placeholder, .textfield > textarea::placeholder {
    color: #f0ffff94;
}

.submitarq,
button[type="submitarq"] {
    width: 15%;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    /* Adiciona espaço abaixo do botão */
    border: none;
    font-size: 7pt; /* Tamanho da fonte uniforme para melhor leitura */
    border-radius: 8px;
    font-weight: 00;
    letter-spacing: 2px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 20px -12px #00ff8052;
    text-transform: uppercase;
    align-self: center;
    /* Garante centralização horizontal */
}

/* Adicionando hover effects para o botão para feedback visual ao usuário */
button[type="submitarq"]:hover {
    background-color: #00e677;
}

.submit,
button[type="submit"] {
    width: 60%;
    padding: 16px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    /* Adiciona espaço abaixo do botão */
    border: none;
    border-radius: 8px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 20px -12px #00ff8052;
    text-transform: uppercase;
    align-self: center;
    /* Garante centralização horizontal */
}

/* Adicionando hover effects para o botão para feedback visual ao usuário */
button[type="submit"]:hover {
    background-color: #00e677;
}


footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Ocupa 100% da largura da tela */
    text-align: center;
    color: white;
    padding: 20px 0;
    

}

.direitos {
    color: white;
    font-size: 0.8em;
    /* Opcional: ajusta o tamanho da fonte se necessário */
    display: block;
    /* Opcional: faz com que ocupe a própria linha */
    margin-top: 5px;
    /* Opcional: adiciona espaço no topo para separar do elemento acima */
}

.footer-logo {
    width: 50px;
    /* Define a largura da logo */
    height: auto;
    /* Mantém a proporção da altura conforme a largura */
    position: absolute;
    /* Posiciona a logo de forma absoluta dentro do footer */
    right: 10px;
    /* Posiciona a logo no canto direito do footer */
    transform: translateY(-45%);
        /* Ajusta a posição para centralizar exatamente no meio */
}

small {
    color: white;
    /* Define a cor do texto como branco */
    font-size: 0.8em;
    /* Opcional: ajusta o tamanho da fonte se necessário */
    display: block;
    /* Opcional: faz com que ocupe a própria linha */
    margin-top: 5px;
    /* Opcional: adiciona espaço no topo para separar do elemento acima */
}



@media only screen and (max-width:950px), (max-width: 600px) {
    .card-login {
        width: 85%;
        min-width: 300px;
    }

}

@media only screen and (max-height: 400px) {
    .card-login {
        min-height: 300px;
        /* Ajuste para dispositivos com altura extremamente limitada */
    }
}

